In [128]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("proj") \
    .getOrCreate()
df = spark.read.text("./02_input.txt")
header = df.take(1)[0][0]
schema = header.split("@|#")
df_rdd = df.filter(~df.value.isin(header)).rdd
df_rdd = df_rdd.map(lambda x: x[0].replace('"', ""))
df = df_rdd.map(lambda x: x.split("@|#")).toDF(schema)
df.show()

+----+---+------+
|name|age|gender|
+----+---+------+
| Sam| 34|  Male|
|John| 60|Female|
+----+---+------+

In [139]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("proj") \
    .getOrCreate()

In [147]:
df = spark.read.option("sep", "@|#").option("header","true").csv("./02_input.txt")
df.show()

+----+---+------+
|name|age|gender|
+----+---+------+
| Sam| 34|  Male|
|John| 60|Female|
+----+---+------+

In [155]:
df = spark.read.option("delimiter", "@|#").option("header","true").csv("./02_input.txt")
df.show()

+----+---+------+
|name|age|gender|
+----+---+------+
| Sam| 34|  Male|
|John| 60|Female|
+----+---+------+

In [154]:
df = spark.read.text("./02_input.txt")
df.show()

+--------------------+
|               value|
+--------------------+
| name@|#age@|#gender|
|   "Sam"@|#34@|#Male|
|"John"@|#60@|#Female|
+--------------------+

In [153]:
header = df.take(1)[0][0]
schema = header.split("@|#")

In [132]:
df_rdd = df.filter(~df.value.isin(header)).rdd

In [133]:
df_rdd.collect()

[Row(value='"Sam"@|#34@|#Male'), Row(value='"John"@|#60@|#Female')]

In [134]:
df_rdd = df_rdd.map(lambda x: x[0].replace('"', ""))

In [135]:
df_rdd.collect()

['Sam@|#34@|#Male', 'John@|#60@|#Female']

In [136]:
df = df_rdd.map(lambda x: x.split("@|#")).toDF(schema)

In [138]:
df.show()

+----+---+------+
|name|age|gender|
+----+---+------+
| Sam| 34|  Male|
|John| 60|Female|
+----+---+------+